.Total {
    margin: 15px;
}

.table {
    width: 300px;
  }
.column-header {
    width: 70px;
    padding: 0px;
    border-style: solid;
    border-color: #394745;
    background-color: #394745;
    color: #ABD5AF;
    font-weight: bold;
  }
  .red-column-header {
    width: 70px;
    border-style: solid;
    border-color: #394745;
    background-color: #394745;
    color: #a24f4f;
    font-weight: bold;
  }