.Total {
  margin: 32px 0px 0px 0px;
    
}
.header-names {
  width: 70px;
  padding: 20px;
  background-color: rgb(57, 71, 69, 0.8);
  font-size: large; 
}
.player-name {
  padding: 8px 0px 4px 0px;
}
.column-header {
  width: 80px;
  padding: 0px 0px 8px 0px;
  background-color: rgb(57, 71, 69, 0.8);
  font-weight: bold;
  }
.red-column-header {
  width: 70px;
  padding: 0px 0px 8px 0px;
  background-color: rgb(57, 71, 69, 0.8);
  font-weight: bold;
  color: #ff7979;
}