.table {
  width: 300px;
}
.log-name {
  padding: 8px 0px 4px 0px;
  font-size: medium; 
}
.column {
  width: 70px;
  justify-content: center;
  border-bottom-style: solid;
  border-color: #394745;
}
.red-column {
  width: 70px;
  justify-content: center;
  border-bottom-style: solid;
  border-color: #394745;
  color: #ff7979;
}