.log-container {
  border-radius: 25px 25px 25px 25px;
  width:280px;
  background-color: #F2F5FA;
  padding: 20px ;
}
.header-names {
  justify-content: center;
}
.log-name {
  justify-content: center;
  padding: 0px 0px 4px 0px;
  font-size: large;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.edit-link-div {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: medium;
  float: right;
}
.edit-link {
  color:#424647;
}
.column {
  justify-content: center;
  padding: 4px 4px 4px 4px;
  font-size: large;
}
.red-column {
  justify-content: center;
  padding: 4px 4px 4px 4px;
  font-size: large;
  color: #ff7979;
}
.spacing {
  background-color: white;
  height: 5px;
}