.edit {
    justify-content: center;
    width: 350px;
    color: #394745;
}

.edit-input {
    width: 67px;
    /* border-radius: 5px; */
}

.update-button {
    margin: 10px;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #394745;
    color: #E5E5E5;
    font-size: medium;
}
.cancel-button {
    margin: 10px;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #394745;
    color: #E5E5E5;
    font-size: medium;
    background-color: #ff7979;
}