.edit {
    justify-content: center;
    width: 350px;
    color: #394745;
}

.edit-input {
    width: 60px;
    border-radius: 5px;
    border: 1px solid #394745;
}

.update-button {
    margin: 10px;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #424647;
    color: #ffffff;
    font-size: medium;
}
.cancel-button {
    margin: 10px;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #394745;
    color: #394745;
    font-size: medium;
    background-color: #ffffff;
}