.Graph {
    /* width: 400px; */
    /* height: 100%; */
    padding: 0px 0px 0px 0px;
    width: 350px;
    height: 850px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: auto;

}
.chart {
    height: 300px;
    width: 650px;
    overflow: auto;
    position: absolute;   
    left: 50%;
    margin-left: -325px;
    top: 265px;
}
.rotate-button {
    border: none;
    width: 50px;
    height: 25px;
    margin: 2px;
    border-radius: 10px;
}