.setting {
    width: 100%;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    color: #bdeee6;
}


.name-field {
    display: flex;
    height: 80px;

}
.name {
    margin: 25px;
    font-size: larger;
}

.input {
    margin: 5px;
    width: 200px;
    background-color: #394745;
    color: #77938e;
    border: none;
    font-size: medium;
}

.button-save {
    color: black;
    margin: 20px 0px 0px 0px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #4FA255;
    color: #c8ffce;
    font-size: large;
}
.button-delete {
    margin: 150px 0px 5px 0px;
    background-color: #394745;
    color:#d56161;
}
.author {
    color: #2c3735;
    font-size: medium;
}