.setting {
    width: 350px;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    align-items: center;
}
.input {
    border-radius: 8px;
    margin: 5px;
    width: 200px;
    border: 1px solid #424647;
    color: #424647;
    font-size: medium;
}
.button-save {
    margin: 20px 0px 0px 0px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #4B1980;
    color: #ffffff;
    font-size: large;
}
.setting-options {
    display: block;
    text-align: center;
    align-items: center;
    margin: 100px 0px 0px 0px;
}
.setting-edit {
    color: white;
    text-decoration: none;
    font-size: medium;
}
.setting-button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #424647;
    border: #424647 solid;
    font-size: medium;
    border-radius: 8px;
}
.footer {
    position: fixed;
    width: 350px;
    bottom: 0;
}
.author {
    color: #424647;
    font-size: medium;
    text-align: center; 
    vertical-align: middle;
}

.version {
    color: #424647;
    font-size: small;
    text-align: center; 
    vertical-align: middle;
}