.Navbar {
    background-color: none;
    height: 50px;
    display: inline;
    flex-direction: column;
}
ul {
    list-style-type: none;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    overflow: hidden;
    background-color: none;
  }
  .link-home {
      float: left;
      padding: 10px 10px 5px 20px ;
      color: #1976d2;
      text-decoration: none;
  }
  .link-setting {
      float: right;
      padding: 10px 20px 5px 5px ;
      color: #1976d2; 
      text-decoration: none;
  }
