.Navbar {
    background-color: none;
    height: 50px;
    display: inline;
    flex-direction: column;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
  }
  .link-home {
      float: left;
      padding: 10px 40px 5px 20px ;
      color: #4FA255;
      text-decoration: none;
  }
  .link-edit {
    float: left;
    padding: 10px 40px 5px 40px ;
    color: #4FA255; 
    text-decoration: none;
  }
  .link-setting {
      float: left;
      padding: 10px 20px 5px 40px ;
      color: #4FA255; 
      text-decoration: none;
  }