.Navbar {
    background-color: none;
    height: 50px;
    display: inline;
    flex-direction: column;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
  }
  .home {
      float: left;
      padding: 10px 0px 5px 20px ;
      color: #2c3735;
      text-decoration: none;
  }
  .link-setting {
      float: right;
      padding: 10px 20px 5px 10px ;
      color: #2c3735; 
      text-decoration: none;
  }