.table {
    width: 300px;
  }
  .column {
    width: 70px;
    justify-content: center;
    border-bottom-style: solid;
    border-color: white;
  }

  .column-header {
      border-style: solid;
      border-color: white;
  }