.Add {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
}
.control {
  display: block;
  text-align: center;
}
.number {
  width: 100px;
  text-align: center;
}
.submit{
    background-color: none;
}
.playerName {
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
}