.Add {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.control {
  display: block;
  text-align: center;
}
.player-control {
  margin-bottom: 5px;
}
.adjust {
  width: 45px;
  height: 45px;
  font-size: larger;
  text-align: center;
}
.number {
  margin: 0px 20px 0px 20px;
  width: 170px;
  height: 30px;
  text-align: center;
  font-size: larger;
}
.red-number {
  margin: 0px 20px 0px 20px;
  width: 170px;
  height: 30px;
  text-align: center;
  font-size: larger;
  color: red;
}

.submit{
  font-size: larger;
  width: 150px;
  height: 45px;
  margin: 20px 0px 30px ;
}
.playerName {
  /* display: none; */
  padding: 0px;
  margin: 0px;
  font-size: large;
}