.App {
  font-family:  'Quicksand', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-image: url("assets/suits-iphone-13-wp-green.png");
  background-repeat: repeat;
  /* background-size: cover; */
  background-position: center top;

  text-align: center;
  background-color: #3F5350;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #D7DEDD;
}

